p {
  color: blue;
}

.main-container {
  height: 900px;
  background-color: #3aafa9;
}

.list-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
}
