.selection-list-beer {
  border: 5px solid rgba(7, 74, 138, 0.712);
  height: 150px;
  padding: 15px;
  overflow-y: scroll;
  width: 450px;
}

.selection-item-beer {
  background-color: beige;
  height: 60px;
}

.selection-list-wine {
  border: 5px solid rgba(7, 74, 138, 0.712);
  height: 150px;
  padding: 15px;
  overflow-y: scroll;
  width: 450px;
}

.selection-item-wine {
  background-color: beige;
  height: 60px;
}

.selection-list-snack {
  border: 5px solid rgba(7, 74, 138, 0.712);
  height: 150px;
  padding: 15px;
  overflow-y: scroll;
  width: 450px;
}

.selection-item-snack {
  background-color: beige;
  height: 60px;
}
