.selection-list-beer {
  border: 10px solid #17252a;
  border-radius: 5px;
  height: 150px;
  padding: 15px;
  margin-top: 5px;
  overflow-y: scroll;
  width: 450px;
}

.selection-item-beer {
  background-color: #def2f1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-left: 5px;
  margin-top: 5px;
  height: 50px;
}

.selection-list-wine {
  border: 10px solid #17252a;
  border-radius: 5px;
  height: 150px;
  padding: 15px;
  margin-top: 5px;
  overflow-y: scroll;
  width: 450px;
}

.selection-item-wine {
  background-color: #def2f1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-left: 5px;
  margin-top: 5px;
  height: 50px;
}

.selection-list-snack {
  border: 10px solid #17252a;
  border-radius: 5px;
  height: 150px;
  padding: 15px;
  margin-top: 5px;
  overflow-y: scroll;
  width: 450px;
}

.selection-item-snack {
  background-color: #def2f1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-left: 5px;
  margin-top: 5px;
  height: 50px;
}

.selection-item-type {
  font-size: 25px;
  font-weight: bold;
  font-family: Impact, fantasy;
}

.selection-menu-area {
  text-align: center;
  //   padding-bottom: 30px;
  //   padding-top: 10px;
  //   padding-right: 10px;
  //   padding-left: 10px;
  margin-bottom: 10px;
}
